<p id="notice"><%= notice %></p>

<h1>Menu Roles</h1>

<table>
  <thead>
    <tr>
      <th>Menu padre</th>
      <th>User created</th>
      <th>User updated</th>
      <th>Estado</th>
      <th>Rol</th>
      <th>Opcion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_roles.each do |menu_rol| %>
      <tr>
        <td><%= menu_rol.menu_padre %></td>
        <td><%= menu_rol.user_created_id %></td>
        <td><%= menu_rol.user_updated_id %></td>
        <td><%= menu_rol.estado %></td>
        <td><%= menu_rol.rol_id %></td>
        <td><%= menu_rol.opcion_id %></td>
        <td><%= link_to 'Show', menu_rol %></td>
        <td><%= link_to 'Edit', edit_menu_rol_path(menu_rol) %></td>
        <td><%= link_to 'Destroy', menu_rol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu Rol', new_menu_rol_path %>
