<p>
  <strong>Nombre:</strong>
  <%= @componente.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @componente.descripcion %>
</p>

<p>
  <strong>User created:</strong>
  <%= @componente.user_created_id %>
</p>

<p>
  <strong>User updated:</strong>
  <%= @componente.user_updated_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @componente.estado %>
</p>

<%= link_to 'Edit', edit_componente_path(@componente) %> |
<%= link_to 'Back', componentes_path %>
