<p>
  <strong>Nombre:</strong>
  <%= @atributo.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @atributo.descripcion %>
</p>

<p>
  <strong>User created:</strong>
  <%= @atributo.user_created_id %>
</p>

<p>
  <strong>User updated:</strong>
  <%= @atributo.user_updated_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @atributo.estado %>
</p>

<%= link_to 'Edit', edit_atributo_path(@atributo) %> |
<%= link_to 'Back', atributos_path %>
