<!-- Inicio empresas -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h4 class="m-0 font-weight-bold text-secondary">Gestión de menus</h4>
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">

          <%= form_with(model: opcion, local: true) do |form| %>
            <div class="row">
              <div class="col-md-4">
              </div>
              <div class="col-md-4">

                <% if opcion.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(opcion.errors.count, "error") %> prohibited this opcion from being saved:</h2>

                    <ul>
                      <% opcion.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                      <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <%= form.label :menu_id %>
                  <%= form.collection_select(:menu_id, Menu.where(:estado => 'A'), :id, :nombre, {:prompt => "Seleccione un Menú"}, {:class => "form-control select2", required: true, autofocus: true}) %>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= form.label :nombre %>
                    <%= form.text_field :nombre, class:"form-control", type: "txt", placeholder: "Ingrese solo letras", required: true, pattern: "^[A-Za-zñÑáéíóúÁÉÍÓÚ- _\s]+$" %>
                  </div>
                  <div class="form-group col-md-6">
                    <%= form.label :icono %>
                    <%= form.text_field :icono, class:"form-control", type: "txt", placeholder: "Ingrese el icono de Font Awesome", required: true %>
                  </div>
                </div>

                <div class="form-row">
                  <div class="form-group col-md-6">
                    <%= form.label :path %>
                    <%= form.text_field :path, class:"form-control", type: "txt", placeholder: "Ingrese el path de la opción", required: true %>
                  </div>
                  <div class="form-group col-md-6">
                    <%= form.label :controlador %>
                    <%= form.text_field :controlador, class:"form-control", type: "txt", placeholder: "Ingrese controlador de opción", required: true %>
                  </div>
                </div>

                <div class="field">
                  <%= form.label :descripcion %>
                  <%= form.text_area :descripcion, size: '40x5', class:"form-control", type: "txt", placeholder: "", required: true %>
                </div>

              </div>
                <div class="col-md-4">
                </div>
            </div>
            <br><br>

            <div class="actions">
              <div class="row">
                <div class="col-md-12 text-center">
                  <%= button_tag form.submit, class: "btn btn-outline-success btn-sm" do %>
                    <span class="icon text-green-50">
                    <i class="fas fa-edit"></i>
                    </span>
                    <span class="text"><%= titulo_opcion.upcase %></span>
                  <%end%>
                  <%= link_to opciones_path, class: "btn btn-outline-danger btn-sm" do %>
                    <span class="icon text-red-50">
                    <i class="fas fa-arrow-circle-left"></i>
                    </span>
                    <span class="text">CANCELAR</span>
                  <%end%>
                </div>
              </div>
            </div>

          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
