<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @area.nombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @area.descripcion %>
</p>

<p>
  <strong>User created:</strong>
  <%= @area.user_created_id %>
</p>

<p>
  <strong>User updated:</strong>
  <%= @area.user_updated_id %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @area.estado %>
</p>

<p>
  <strong>Empresa:</strong>
  <%= @area.empresa_id %>
</p>

<%= link_to 'Edit', edit_area_path(@area) %> |
<%= link_to 'Back', areas_path %>
