<p id="notice"><%= notice %></p>

<h1>Persona Empresa Formularios</h1>

<table>
  <thead>
    <tr>
      <th>Descripcion</th>
      <th>User created</th>
      <th>User updated</th>
      <th>Estado</th>
      <th>Opcion ca</th>
      <th>Personas area</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @persona_empresa_formularios.each do |persona_empresa_formulario| %>
      <tr>
        <td><%= persona_empresa_formulario.descripcion %></td>
        <td><%= persona_empresa_formulario.user_created_id %></td>
        <td><%= persona_empresa_formulario.user_updated_id %></td>
        <td><%= persona_empresa_formulario.estado %></td>
        <td><%= persona_empresa_formulario.opcion_ca_id %></td>
        <td><%= persona_empresa_formulario.personas_area_id %></td>
        <td><%= link_to 'Show', persona_empresa_formulario %></td>
        <td><%= link_to 'Edit', edit_persona_empresa_formulario_path(persona_empresa_formulario) %></td>
        <td><%= link_to 'Destroy', persona_empresa_formulario, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Persona Empresa Formulario', new_persona_empresa_formulario_path %>
